.app-container {
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

h2 {
    color: #444;
    margin-bottom: 1rem;
}

/*//TODO: remove all css, use MUI*/

.app-description {
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .app-container {
        padding: 1rem;
    }
}